::ng-deep .mat-horizontal-stepper-header-container{
    width: min-content !important;
}

mat-card-header{
    padding: 0 !important;
    margin-bottom: 0.8em !important;
    .activeLesson{
        font-size: 1em;
        font-weight: 100;
        margin: 0;
        color: #000;
        font-family: "Roboto", "Helvetica Neue", sans-serif;
    }
}           

.formControlsSection{
    margin: 1em 0em;
}

.contentGenerationSectionButtonGroup{
    margin-top: 1em;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 1em;
}

.editLessonContainer{
    width: 100%;
    display: flex;
    gap: 1em;
    justify-content: space-between;

    .lessonMenusSection{
        width: 26%;
        border-right: 1px gray solid;
        padding-right: 5px;
        span{
            cursor: pointer;
            font-size: 16px;
        }
    }

    .spacer{
        border-bottom: 1px solid gray;
    }

    .editLessonSection{
        width: 71%;
    }

    .questionOptions{
        display: flex;
        flex-direction: column;
        padding-bottom: 1em;
        justify-content: start;
        align-self: start;
        gap: 12px;
        height: 319.56px;
    }

    .optionContainer{
        display: flex;
        gap: 1em;
        align-items: center;
        margin-bottom: 1em;
    }
}


mat-radio-button{
    display: flex;
    margin: 1em 12px !important;
}

.mat-form-field{
    margin: 0 !important;
    line-height: 1.1 !important;
}


.hintMessage{
    font-size: 0.8em;
    color: #a99c9c;
    margin: 0em 0em 0.3em;
    margin-bottom: 0.8em;
    display: block;
}


.note{
    font-weight: 500;
    display: flex;
    gap: 0.6em;
    align-items: center;
    svg path,
    svg rect{
      fill: #f08030;
    }
}

.questionOptionsInputs{
    // background-color: #0000000a;
    // padding: 1em;
    
    .optionsInputs{
        padding: 0 1em;
    }
}

.divider{
    width: 100%;
    margin-bottom: 1.4em;
    display: block;
}

.editedField{
    color: #e2a617;
    font-style: italic;
    font-size: 0.8em;
    padding-left: 5px;
}

.lessonHeading{
    width: 100%;
    // text-align: center;
    font-size: 1.2em;
    font-weight: 100;
    margin: 0;
    color: #000;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
}

.heroImage{
    width: 100%;
    display: flex;
    justify-content: center;
    max-height: 250px;
    padding: 1.5em 0em;

    img{
        object-fit: contain;
        width: 100%;
    }
}

.audioDesc{
    font-weight: 100;
    color: #000;
    font-family: "Roboto", "Helvetica Neue", sans-serif;

}

audio{
    margin-top: 0.5em;
    width: 100%; 
}

.expantionPanel{
    margin-bottom: 1em;
}

.quizContainer{
    width: 100%;

    .headerTitle{
        font-weight: 400;
        color: #000;
        font-family: "Roboto", "Helvetica Neue", sans-serif;
        margin-top: 0em;
        font-size: 1.1em;
        margin-bottom: 0;
    }
    .questionSection{
        margin: 1.2em 0em 2.5em;

        .question{
            color: #000;
            font-family: "Roboto", "Helvetica Neue", sans-serif;
            margin-top: 0em;
            font-size: 1.1em;
        }

        .submitAnswer{
            margin-left: 12px;
        }
    }
}

.lessonDescriptionSection{
    width: 100%;
    white-space: pre-wrap;
}

.export{
    display: flex !important;
    align-items: center !important;
    gap: 5px !important;
}


.feedback{
    margin-left: 12px;
    color: #FFF;
    border-radius: 4px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.correct{
    background-color: #0b6426c7;
}

.incorrect{
    background-color: #c21b1bc7;
}

.quizHeader{
    display: flex;
    justify-content: space-between;

    .resetQuiz{
        height: 35px;
    }
}

.matHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;

    .activeLesson{
        word-break: break-word;
    }
    .buttonContainer{
        width: max-content;
        display: flex;

        button{
            height: fit-content;
        }
    }                     
}

.courseMenu{
    width: max-content;
    display: none;
}

@media screen and (max-width: 940px){

    .editLessonContainer{
        flex-direction: column;
    }

    .mat-icon-button {
        width: 40px !important;
    }

    .courseMenu{
        display: block;
    }

    .lessonMenusSection{
        display: none;
    }

    .editLessonSection{
        width: 100% !important;
    }

    .headerTitle{
        flex: 1;
        word-break: break-word;
    }

    .matTree{
        padding-right: 10px !important;
    }
}

@media screen and (max-width: 560px){
    .buttonContainer {
       flex-direction: column;
       gap: 0.4em;
    }
}

.mat-accordion>.mat-expansion-panel-spacing:last-child{
    margin-bottom: 1em !important;
.language{
     width: 120px;
}
}